<% include /Git/blog1/views/partials/header.ejs %>

<div class="ui main text container">
	<div class="ui huge header">The_Blog</div>
	<div class="ui top attached segment">
		<div class="ui divided items">
			<% blogs.forEach(function(blog){ %>
			<div class="item">
				<div class="image">
					<img alt="" src="<%= blog.image %>">
				</div>
				<div class="content">
					<div class="header"><%= blog.name %></div>
					<div class="meta">
						<p> <%= blog.date.toDateString() %> </p>
					</div>
					<div class="description">
						<p> <%= blog.body.substring(0,90) %>... </p>
					</div>
					<div class="author"> 
						<strong><p>Author: <%= blog.author.username %></p></strong>
					</div>
					<div class="extra">
						<a class="ui orange floated inverted button" href="/blog/<%= blog._id %>">
							Read more
							<i class="right chevron icon"></i>
						</a>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</div>

<% include /Git/blog1/views/partials/footer.ejs %>